@font-face {
  font-family: videoGameClassic;
  src: url(../assets//fonts/ARCADECLASSIC.TTF);
}

html, body {
  /* cursor: none; */
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #659da3;
}

#town-holder {
  position:relative;
  height: 100%;
  width:100%;
}

#town {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 576px; /* Adjust the width and height based on your sprite size */
  height: 576px; /* Adjust the height of your sprite frames */
  background-image: url('../assets/sprites/scenes/beach.gif'); /* Replace with the path to your sprite image */
  background-repeat: no-repeat;
}

.town-moveable {
  position:absolute;
  top:60px;
  left:60px;
  height: 456px;
  width: 456px;
  border: 2px solid green; /* Add a red border around the area */
}

.town-not-moveable {
  position:absolute;
  top:180px;
  left:160px;
  height: 112px;
  width: 140px;
  border: 2px solid red; /* Add a red border around the area */
}

.player-sprite {
  position: absolute;
  pointer-events: none;
  width: 192px; /* Adjust the width and height based on your sprite size */
  height: 192px; /* Adjust the height of your sprite frames */
  background-image: url('../assets/sprites/characters/player_scaled_4x.png'); /* Replace with your sprite sheet image */
  background-repeat: no-repeat;
}





#music-credit {
  position:absolute;
  right:0;
  bottom:0;
  font-family: videoGameClassic;
}
