@font-face {
	font-family: garamond;
	font-family: wingdings;
}


html, body {
	background-color: rgb(245, 245, 245);
	font-family: garamond;
	font-size: 20px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
} 

h2 {
	letter-spacing: 2px;
}

blockquote {
	margin-top: 10px;
	margin-bottom: 10px;
}

.roundedDiv {
	border-style: solid;
	border-width: 7px;
	border-radius: 15px;
	border-color: transparent;
}

.dropDivGoodPadding {
	border-style: solid;
	border-width: 7px;
	border-radius: 15px;
	border-color: transparent;
	line-height: 20pt;
}

.dropDiv {
	border-style: solid;
	border-width: 7px;
	border-radius: 15px;
	border-color: transparent;
	padding-bottom: 20px;
	line-height: 20pt;
}

.dropDivCode {
	border-style: solid;
	border-width: 7px;
	border-radius: 15px;
	border-color: transparent;
	padding-bottom: 7px;
	line-height: 20pt;
}

.clickable {
	cursor: pointer;
}

.card {
	max-width:975px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20pt;
}

nav {
	text-align: center;
	position: fixed;
	color: white;
	height: 45px;
}

gara {
	font-family: garamond;
}

.smallfoot {
	font-size: 16px;
}

a {
	text-decoration: none;
}

.resFooter {
	font-size: 18px;
	text-align: center;
	font-family: garamond;
	margin-top: -.5%;
}

.barbutton {
	height: 100%;
}

.downloadButton {
	font-size: 18px;
	font-family: garamond;
	border: 0;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 16px;
	padding-left: 20px;
	padding-right: 20px;
	height: 20px;
	cursor: pointer;
	background-color: white;
	outline: none;
}

.codeDownloadButton {
	font-size: 18px;
	font-family: garamond;
	border: 0;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 45px;
	cursor: pointer;
	background-color: #283c86;
	color: white;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* The progress container (grey background) */
.reverseProgBar {
	top: 0;
  width: 100%;
  height: 45px;
  float: right;
  background: #283c86;
  z-index: 108;
}

/* The progress bar (scroll indicator) */
.progBar {
	top: 0;
  height: 45px;
	background: #283c86;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  z-index: 110;
}

@media screen and (max-width:370px) {
	nav {
		text-align: center;
		vertical-align: center;
		position: fixed;
		color: white;
		font-size: 10.49px;
		height: 60px;
		padding-top: 0px;
		padding-bottom: -10px;
		padding-left: 0px;
		padding-right: 0px;

	}

	.downloadButton {
		font-size: 14px;
		padding-top: 10px;
		padding-bottom: 11px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.barbutton {
		height: 45px;
	}

	#pictureRotation {
    display: none;
  }

  html, body {
  	background-color: rgb(245, 245, 245);
		font-family: garamond;
		font-size: 16px;
	}

	#titleBlock {
		margin-top: 50px;
	}

	/* Style the header: fixed position (always stay at the top) */
	.header {
	  position: fixed;
	  top: 0;
	  z-index: 1;
	  width: 100%;
	}

	/* The progress container (grey background) */
	.reverseProgBar {
		top: 0;
	  width: 100%;
	  height: 45px;
	  float: right;
	  background: #283c86;
	  z-index: 108;
	}

	/* The progress bar (scroll indicator) */
	.progBar {
		top: 0;
	  height: 45px;
		background: #283c86;  /* fallback for old browsers */
	  width: 100%;
	  z-index: 110;
	}

	.smallfoot {
		font-size: 12px;
	}
}


@media screen and (min-device-width : 371px) and (max-width:420px) {
	nav {
		text-align: center;
		position: fixed;
		color: white;
		font-size: 12px;
		height: 45px;
	}

	.downloadButton {
		font-size: 16px;
		padding-top: 10px;
		padding-bottom: 11px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.barbutton {
		height: 40px;
	}

	#pictureRotation {
    display: none;
  }

  html, body {
  	background-color: rgb(245, 245, 245);
		font-family: garamond;
		font-size: 16px;
	}

	#titleBlock {
		margin-top: 50px;
	}

	/* Style the header: fixed position (always stay at the top) */
	.header {
	  position: fixed;
	  top: 0;
	  z-index: 1;
	  width: 100%;
	}

	/* The progress container (grey background) */
	.reverseProgBar {
		top: 0;
	  width: 100%;
	  height: 40px;
	  float: right;
	  background: #283c86;
	  z-index: 108;
	}

	/* The progress bar (scroll indicator) */
	.progBar {
		top: 0;
	  height: 40px;
		background: #283c86;  /* fallback for old browsers */
	  width: 100%;
	  z-index: 110;
	}
	.smallfoot {
		font-size: 14px;
	}
}


@media screen and (min-device-width : 421px) and (max-width:760px) {  
	#pictureRotation {
    display: none;
  }

  html, body {
  	background-color: rgb(245, 245, 245);
		font-family: garamond;
		font-size: 16px;
	}

	nav {
		text-align: center;
		position: fixed;
		color: white;
		font-size: 16px;
		height: 45px;
	}

	#titleBlock {
		margin-top: 50px;
	}
}